@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300;1,500&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

/* Mobile */

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo-container {
  width: 100%;
  padding: 20px 18px 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo-container .span-logo {
  color: #ff2253;
}

.menu-login {
  padding: 14px 20px;
  border-radius: 32px;
  cursor: pointer;
  font-size: 26px;
  background-color: #ff2253;
  transition: all 0.8s;
}

.menu-login:hover {
  color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search .input-search {
  background: #e9ecef;
  padding: 11px 16px;
  border-radius: 12px;
  width: 340px;
}

.filters {
  width: 100%;
  padding: 20px 18px 10px 18px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 15px;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters .filter {
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 32px;
}

.filters .filter.selected {
  background-color: #ff2253;
  color: #fff;
}

.filters #panificadora {
  background-color: #fff7f4;
}
.filters #frutas {
  background-color: #fff1f4;
}
.filters #bebidas {
  background-color: #f3eef5;
}

/* ----------------------------Main--------------------------------------- */

.products-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}

.products-display::-webkit-scrollbar {
  display: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 325px;
  height: 420px;
  padding: 18px;
}

.product .product-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 200px;
  border: 3px #ffe9ee solid;
  border-radius: 8px;
}

.product .product-image {
  max-width: 300px;
  object-fit: cover;
}

.product-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.product-title {
  font-size: 16px;
}

.product-description {
  font-size: 14px;
  color: #868e96;
}

.product-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: #868e96;
}

.product-purcharse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
}

.product-cart {
  cursor: pointer;
  color: #0ca678;
  background: #e4f7ef;
  padding: 10px;
  border-radius: 50%;
}

.btn-addToCart {
  background-color: #fff;
}

/* ---------------------Btn Cart -------------------- */

.btn-show-cart {
  position: fixed;
  bottom: 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background-color: #ff2253;
  gap: 25px;
  cursor: pointer;
}

.btn-cart-small,
.shopping-cart-small {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.btn-cart-icon,
.shopping-cart-icon {
  color: #fff;
}

/* ------------------ Aside shopping cart --------------------- */

.shopping-cart {
  display: none;
}

.shopping-cart-container {
  background-color: #fff;
  width: 345px;
  max-height: 570px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.shopping-cart-title {
  background-color: #ff2253;
  padding: 0 22px;
  width: 345px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.shopping-cart-small {
  flex: 1;
}

#btn-close-cart {
  background: transparent;
}

.shopping-cart-close {
  font-size: 32px;
  cursor: pointer;
  color: #000;
}

/* shopping cart products */

.shopping-cart-products {
  scrollbar-color: hidden;
  overflow-x: hidden;
  height: 360px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 345px;
  scrollbar-width: thin;
}

.shopping-cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.shopping-div-img {
  width: 75px;
  height: 75px;
}

.cart-product-img {
  width: 75px;
  height: 75px;
}

.shopping-div-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.cart-product-title {
  font-size: 14px;
}

.cart-product-category {
  color: #868e96;
  font-size: 12px;
}

.cart-product-price {
  font-size: 14px;
  font-weight: 400;
}

.shopping-div-delete {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.remove-from-cart {
  padding: 8px 4px;
  font-size: 18px;
  background-color: #fff;
  color: #868e96;
}

.input-cart-product {
  margin-right: 3px;
  border-radius: 5px;
  border: 3px solid #000;
  background-color: #d4d4d4;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

/* Shopping value / amount */

.shopping-amount,
.shopping-value {
  background-color: #fff;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 18px;
  max-width: 100%;
}

.shopping-amount {
  background-color: #f8f9fa;
}

/* --------- Menu setting for mobile acionando toggle -----------*/

.shopping-cart.show {
  position: fixed;
  display: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

main.mobile::before {
  content: '';
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
}

/* -------------------------------Footer------------------ */

footer {
  height: 80px;
}

/* --------------------------------- Desktop */

@media (min-width: 764px) {
  /* NAV ------------------------------- */
  .nav {
    position: relative;
  }

  .logo-container {
    width: 100%;
    padding: 22px 26px;
  }

  .menu-login {
    font-size: 20px;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.8s;
  }

  .menu-login:hover {
    color: #fff;
  }

  .search {
    top: 22px;
    position: absolute;
    left: 30%;
    width: 40%;
  }

  .filters {
    background-color: #fafafa;
    padding: 22px 26px;
    justify-content: flex-start;
    gap: 32px;
  }

  .filters #panificadora {
    background-color: #f8e0d7;
    transition: all 0.8s;
  }
  .filters #panificadora:hover {
    background-color: #ff2253;
  }
  .filters #frutas:hover {
    transition: all 0.8s;
    background-color: #ff2253;
  }
  .filters #bebidas:hover {
    transition: all 0.8s;
    background-color: #ff2253;
  }

  /* Products ----------------------------------- */

  .main {
    background-color: #fafafa;
    display: flex;
  }

  .products-display {
    flex-wrap: wrap;
    gap: 26px;
    width: 66%;
    margin-left: 26px;
  }

  .product-cart:hover {
    color: #fff;
    background-color: #0ca678;
    transition: all 0.4s;
  }

  .product-image-container:hover {
    border: 3px solid #ff2253;
  }

  .shopping-cart {
    margin-top: 18px;
    position: sticky;
    display: inline-block;
  }

  .shopping-cart-title {
    justify-content: center;
  }

  .shopping-cart-small {
    flex: 0;
  }

  .shopping-cart-product {
    padding: 8px 10px;
  }

  .shopping-cart-products {
    max-height: 320px;
    padding: 8px 10px;
  }

  #btn-show-cart {
    display: none;
  }

  #btn-close-cart {
    display: none;
  }

  .btn-addToCart {
    background-color: #fafafa;
  }
  .remove-from-cart {
    cursor: pointer;
  }

  .fa-trash:hover {
    color: #ff2253;
    transition: all 0.3s;
  }

  footer {
    background-color: #fafafa;
    height: 50px;
  }
}
